---
import '../styles/global.css';
import SpeedInsights from "@vercel/speed-insights/astro"

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Landing Page</title>
	</head>
	<body class="bg-white text-gray-900 min-h-screen antialiased">
		<slot />
		<SpeedInsights/>
	</body>
</html>
